footer.footer
    .footer__logo
        img(src="/img/logo-green.png" alt="Laotours Logo")
        <div>Icons made by <a href="https://www.flaticon.com/authors/wichaiwi" title="Wichai.wi">Wichai.wi</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    ul.footer__nav
        li: a(href="#") About Us
        li: a(href="#") Download Apps
        li: a(href="#") Become a Guide
        li: a(href="#") Careers
        li: a(href="#") Contact
    p.footer__copyright &copy; By Cedric Le Mercier.